
.row__posters {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-around;
    align-items: start;
    max-height: 500px;
}
.card {
    margin: 10px; 
    width: 150px; 
    height: auto; 
    transition: transform 0.2s; 
}

.card:hover {
    transform: scale(1.05); 
}
.row {
    margin-bottom: 20px; 
}

@media (max-width: 600px) {
  
    .row__posters {
      justify-content: center; /* center the cards if fewer in number */
      align-items: center;
      flex-direction: column; /* stack vertically */
    }
  
    .card {
      margin: 10px 0;  /* vertical spacing, no horizontal spacing needed */
      width: 90%;  /* take most of the screen width */
      transition: transform 0.2s; 
    }
  
    .card:hover {
      transform: scale(1.02); /* subtle hover effect, not too exaggerated */
    }
  }
  
