.logo{
    width: 15vw;
    background: none;
    height:8vh;
    position: absolute;
    top: 20px;
    left: 10px;
}

.background{
    width: 100%;
    height:100vh;
    opacity: 0.3;
}
.login-container{
    position: absolute;
    top: 150px;
    left:520px;
    background-color: #000;
    opacity: 0.7;
    padding: 20px;
    height: 300px;
    width: 250px;
}
h2{
    color: #fff;
    font-weight: 600;
    opacity:1;
    font-size: 25px;
    padding: 7px;
    padding-bottom: 10px;
}
input{
    border: none;
    border-radius: 3px;
    background-color: #282828;
    color: #fff;
    outline: none;
    
}
.input-group{
    padding: 6px;
}
button{
    background-color: red;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 800;
    padding: 4px;
    margin: 6px;
    padding-bottom: 5px;
    width: 185px;
    margin-top: 20px;
}
/* 
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
} */
