.imageIcon{
    width: 35px;
    height: 35px;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

  .homediv{
    
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  }

  div a{
    padding: 5px;
  }

  .iconDiv{
    display: flex;
  flex-direction: row;
  justify-content: flex-end;
  }
  
  nav a{
    padding: 5px;
  }


@media (max-width: 600px) {
    .navbar-nav{
      font-size: 10px;
      display: flex;
      flex-direction: row;
    }
  }
  